@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=DM+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Archivo', sans-serif;
}

body .swiper-section {
  @apply cursor-grab px-5 active:cursor-grabbing xl:px-32;
}

body .swiper-pagination-bullet {
  @apply relative bg-scarlet/30 opacity-100 after:absolute after:top-1/2 after:left-1/2 after:-z-10 after:h-5 after:w-5 after:-translate-x-1/2 after:-translate-y-1/2 after:bg-white after:content-[''];
}

body .swiper-pagination-bullet:first-of-type {
  @apply after:-ml-1 after:rounded-l-full;
}

body .swiper-pagination-bullet:last-of-type {
  @apply after:ml-1 after:rounded-r-full;
}

body .swiper-pagination-bullet-active {
  @apply bg-scarlet;
}

.promotional-insert {
  @apply bg-white-rock;
  display: flex;
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  flex-direction: column-reverse;
}

.promotional-insert__desc {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.promotional-insert__title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
}

.promotional-insert__link-btn {
  width: fit-content;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}

.promotional-insert__img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 768px) {
  .promotional-insert {
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;
    background: rgba(241, 237, 226, 1);
    border-radius: 8px;
    overflow: hidden;
    flex: 1;
  }

  .promotional-insert__desc {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
  }

  .promotional-insert__title {
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .promotional-insert__img {
    width: 50%;
    right: 0;
    height: 100%;
    position: absolute;
  }
}
